body {
  font-family: Arial, sans-serif;
}

#map-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

#map {
  height: 600%;
  width: 100%;
}

#search-container {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 260px;
    z-index: 1000;  
}

#search-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#search-results {
    margin-top: 4px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
}

.search-item {
    padding: 8px;
    cursor: pointer;
}

.search-item:hover {
    background-color: #f0f0f0;
}
